@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Carter One', sans-serif;
}

body {
    background-image: url(images/tcg_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; 
}

#board {
    height: 570px;
    width: 690px;
    margin: 0 auto;
}

/* Card size is 420 x 720 */
.card { 
    height: 180px;
    width: 105px;
    margin: 5px;
}
