@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Carter One', sans-serif;
}

body {
    background-image: url(images/tcg_bg.png);
    background-size: cover;
    text-align: center; 
}

#board {
    height: 523px;
    width: 475px;
    margin: 0 auto;
}
